<launch>
  <!-- Static transforms for lidar -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_lidar_base" args="0 0 0.05 0 0 0 base_link lidar_base_cylinder 50"/>
  <node pkg="tf" type="static_transform_publisher" name="lidar_base_to_laser" args="0 0 0.1 0 0 0 lidar_base_cylinder laser_link 50"/>

  <!-- Argument for GUI toggle -->
  <arg name="gui" default="true"/>

  <!-- Load the saved map -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find lidar_scanning_robot)/maps/my_map.yaml"/>

  <!-- Load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="diff_drive_controller" />

  <!-- Load and spawn the diff drive controller -->
  <rosparam file="$(find lidar_scanning_robot)/config/diff_drive_controller.yaml" command="load"/>



  <!-- AMCL for localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="global_frame_id" value="map"/>
    <param name="scan_topic" value="/scan"/>
  </node>


  <!-- Move Base for path planning -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find lidar_scanning_robot)/config/path_planning/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find lidar_scanning_robot)/config/path_planning/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find lidar_scanning_robot)/config/path_planning/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find lidar_scanning_robot)/config/path_planning/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find lidar_scanning_robot)/config/path_planning/dwa_local_planner_params.yaml" command="load"/>
  </node>

  <!-- RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_scanning_robot)/config/path_planning/path_planning_configurations.rviz"/>

</launch>