<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find lidar_scanning_robot)/urdf/lidar_scanning_robot.xacro"/>

  <node name="lidar_scanning_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lidar_scanning_robot" output="screen" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="diff_drive_controller" output="screen"/>


</launch>
