<launch>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <!-- <arg name="world_name" value="worlds/willowgarage.world"/> -->
  </include>

  <!-- Load xacro to robot_description param -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find lidar_scanning_robot)/urdf/lidar_bot.xacro'" />

  <!-- Spawn the robot into Gazebo using robot_description -->
  <node name="spawn_lidar_bot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model lidar_bot -x 0 -y 0 -z 0.0"
        output="screen"/>

  <!-- Launch RViz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_scanning_robot)/rviz/robot.rviz" required="true" /> -->


  <!-- Load and launch the Joint Controller -->
  <rosparam file="$(find lidar_scanning_robot)/config/joint_controller.yaml" command="load"/>   
  
  <!-- Load the controller manager -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="robot_wheel_controller" /> -->

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/lidar_bot" args="robot_wheel_controller"/> -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="robot_wheel_controller"/>


  <!-- Joint State & Robot State Publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>